<div [className]="'login-wrapper'">
  <div [className]="'login-container'">
    <div [className]="'header-container'">
      <h3>Login</h3>
    </div>

    <div [className]="'credentials-container'">
      <mat-form-field class="full-width" subscriptSizing="dynamic">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" type="text" id="username" name="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field class="full-width" subscriptSizing="dynamic">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" type="password" id="password" name="password" placeholder="Password">
      </mat-form-field>
    </div>

    <div [className]="'message-container'">
      <p>{{ message }}</p>
    </div>

    <div [className]="'action-container'">
      <button mat-raised-button color="primary" class="mat-raised-button" (click)="login()">Login</button>
      <button mat-raised-button color="primary" class="mat-raised-button" (click)="signUp()">Sign up</button>
    </div>
  </div>
</div>
